@import '@fontsource/poppins/700.css';
@tailwind base;
@tailwind components;

h1,
h2 {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply font-bold;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect {
  @apply rounded dark:bg-slate-900 dark:text-white px-2 py-1 focus:ring-0 focus:border-gray-500;
}
.focus-outline,
.form-input {
  @apply focus:outline-2 focus:outline focus:outline-slate-400 outline-offset-2;
}

.focus-within-outline {
  @apply focus-within:outline-2 focus-within:outline outline-slate-400 outline-offset-2;
}

@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 300ms linear forwards;
}
